<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF</title>
  </head>
  <body>
    <h1 align="center">Olá eu sou o <strong><%= nome %></strong></h1>
    <h2>Conteudo aprendido agora mesmo no curso de <%= curso %></h2>
    <p>Vamos a luta os estudos não param</p>
  </body>
</html>
